.form-signin
 {
    /* Size & position */
    width: 300px;
    margin: 25px auto 30px;
    padding: 5px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 10;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 100px;
    padding: 30px 5px 15px 2px;
    background-color: #fff;
box-shadow: 
        0 0 1px rgba(0, 0, 5, 0.3), 
        0 5px 10px rgba(0, 5, 0, 0.3), 
        inset 0 2px rgba(255,255,255,1),
        inset 0 -5px 2px rgba(0,0,0,0.25);
    border-radius: 10px;
    background: linear-gradient(#eeefef, #ffffff 10%);
    -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 10px;
    font-weight: 50;
    display: block;
}
.profile-img
{

  
    width: 200px;
    margin: 0 auto 5px;
    display: block;
   
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.hide-row { display:none }